.container{
  width: 85px;
  background-color: #6C63FF;
  color: white;
  font-weight: 500;
  font-size: 18px;
  height: 38px;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  border-color: var(--bgColorLight);
}