.todoListsItemsHeader {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 31px;
  padding-bottom: 20px;
}

.tasksContainer:not(:last-child) {
  border-bottom: 1px solid #6C63FF;
  padding-bottom: 3px;
}

.editTask {
  display: flex;
  padding: 20px;
  flex-grow: 1;
}