.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  gap: 16px;
  height: 34px;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  border-color: var(--bgColorLight);
  width: 572px;

  &__small {
    width: 200px;
    height: 25px;
  }

  &__large {
    width: 590px;
  }

  &__extraLarge {
    width: 440px;
    margin: 24px 30px 29px 30px;
  }

  &::placeholder {
    padding: 11px 294px 11px 16px;
    font-weight: 500;
    font-size: 16px;
    color: #C3C1E5;
  }
}